html {
  height: 100%;
}
body {
  height: 100%;
  background-color: aliceblue;
}
header {
  width: 70%;
  margin-left:auto;
  margin-right: auto;
  margin-bottom: 0;
  padding: 0.10%;
  background-color: lightslategray;
}
section {
  clear:both;
  height: 90%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-color: lightsteelblue;
}
h1 {
  color: black;
  text-align: center;
}
li {
  margin-left: 5%;
  margin-right: 5%;
  display: inline-block;
}
th:hover {
  background-color: lightsteelblue;
}
table {
  width: 100%
}
tr a {
  color: black;
  text-decoration: none;
}
fieldset {
  width: 50%;
}
